*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  min-height: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
p,
a {
  font-family: "Red Hat Display", sans-serif;
}

body {
  background: top/contain no-repeat url(./images/pattern-background-mobile.svg), #e0e8ff;
}

.page__container {
  padding: 2.5rem 1.5rem;
}

.card__container {
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 1px 1px rgba(56, 41, 224, 0.03), 0 4px 4px rgba(56, 41, 224, 0.03), 0 8px 8px rgba(56, 41, 224, 0.05), 0 16px 16px rgba(56, 41, 224, 0.05), 0 32px 32px rgba(56, 41, 224, 0.05);
}
.card__container .card__image {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  width: 100%;
}
.card__container .card__body:last-child {
  margin: 0;
}

.card__body {
  padding: 1.5rem;
}
.card__body .card__title,
.card__body .card__description {
  text-align: center;
}
.card__body .card__description {
  padding: 1rem 1rem 2rem 1rem;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
  color: #7280a7;
}
.card__body .card__plan {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 1.2rem 1rem;
  margin: 0 0 2rem 0;
  align-items: center;
  background-color: #f5f7ff;
  border-radius: 20px;
}
.card__body .card__plan .card__plan-details {
  margin: 0 0 0 1rem;
}
.card__body .card__plan .card__plan-title {
  font-size: 0.9rem;
  color: #1f2f56;
}
.card__body .card__plan .card__plan-cost {
  font-size: 0.9rem;
  font-weight: 500;
  padding: 0.25rem 0 0 0;
  color: #7280a7;
}
.card__body .card__plan .card__plan-btn {
  margin: 0 0 0 auto;
  font-size: 0.9em;
  font-weight: 700;
}
.card__body .card__plan .card__plan-btn:hover {
  text-decoration: none;
}
.card__body .card__plan .card__plan-btn:visited {
  color: blue;
}
.card__body .card__btn {
  display: block;
  text-align: center;
  font-weight: 900;
  text-decoration: none;
  padding: 1.15rem 0;
  margin: 0 0 1rem 0;
  border-radius: 10px;
  color: #7280a7;
  transition: color 80ms ease;
}
.card__body .card__btn:hover {
  color: #1f2f56;
}
.card__body .card__btn-primary {
  background-color: #3829e0;
  color: #f5f7ff;
  box-shadow: 0 1px 1px rgba(56, 41, 224, 0.1), 0 2px 2px rgba(56, 41, 224, 0.1), 0 4px 4px rgba(56, 41, 224, 0.1), 0 8px 8px rgba(56, 41, 224, 0.1), 0 16px 16px rgba(56, 41, 224, 0.1);
  transition: background-color 80ms ease;
}
.card__body .card__btn-primary:hover {
  color: #f5f7ff;
  background-color: #766cea;
}
.card__body > .card__btn:last-child {
  margin: 0;
}

@media (min-width: 600px) {
  html,
body {
    height: 100%;
  }

  body {
    background: top/contain no-repeat url(./images/pattern-background-desktop.svg), #e0e8ff;
  }

  .page__container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .card__container {
    max-width: 400px;
  }
}
